@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-color: #a5c9cabd;
    font-family: 'Oswald', sans-serif;
}

.headnav {
    color: aliceblue;
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 100px grey;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    background-color: #a5c9ca56;
}